*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	background: #fdf6e3;
	margin: auto;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
}

.main {
	margin-left: 20px;
	margin-right: 20px;

	flex-grow: 2; /* for body column position of main and footer*/

	/* row pos of page and url list */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page_list {
	flex-grow: 1;
	text-align: left;
}

.url_list {
	text-align: right;
	border-right: 1px solid grey;
	padding: 5px;
	font-weight: 500;
	flex-grow: 1;
}

.url_list > a {
	text-decoration: none;
	color: black;
}

.url_list > a:hover:after {
	content: " < ";
}

a {
	text-decoration: none;
	color: grey;
}
a:hover { color: black; }

.footer {
	width: 100%;
	border-top: 2px solid black;

	padding: 10px 20px 10px 20px;
}
