<html>
	<head>
		<title>Startpage</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<!--<script src="https://unpkg.com/vue"></script>-->
		<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body>
		<div id="app" class="container">
			<ul v-for="categoria in categorie" class="container_list">
				<h1>{{ categoria.name }}</h1>
				<li v-for="indirizzo in categoria.array">
					<div class="small-icon">
						<img v-bind:src="'https://'+indirizzo.link.split('/')[2] + '/favicon.ico'" onerror="this.onerror=null; this.src='default.png'"/>
					</div>
						<a v-bind:href="indirizzo.link">{{ indirizzo.text }}</a>
				</li>
			</ul>
		</div>

		<script src="app.js"></script>
	</body>
</html>
